<footer class="page-footer">
  <img src="/assets/logo.jpg" alt="logo PHF" />
  <div class="content">
    <div>
      <div>
        <span>Rua Campestre, 132 - Julia Caparroz, Catanduva/SP</span>
        <span>17 66666-6666</span>
      </div>

      <div class="data">
        <span>Entre em contato</span>
        <span>engpedrohenf@gmail.com</span>
      </div>
      <a href="https://instagram.com/engphf?igshid=YmMyMTA2M2Y=" target="_blank">
        <img src="/assets/instagram.svg" alt="perfil do instagram" />
      </a>
    </div>
    <p id="developer">Desenvolvido por <a href="https://www.linkedin.com/in/l%C3%ADvia-marcela-08002320b/">Lívia</a></p>
  </div>
</footer>
